*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background:black;
  display:flex;
  justify-content:center;
}

.title{
  color:antiquewhite;
  font-size:1.2rem;
}

.title:hover{
  transform:translateY(-10px)
}